{% block header %}
<!doctype html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../controler/pult.php?id=1">Shop name</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="../controler/pult.php">Home</a></li>
                        <li><a href="../controler/pult.php?id=2">About</a></li>
                        <li><a href="../controler/pult.php?id=3">Tovars</a></li>

                    </ul>
                </div>
            </div>
        </div>


            {#
        {% set arr = 1..20 %}
            {% set parts = arr | batch (3, '---') %}

        {% for part in parts %}
            <p>{{ part | join (',') }}</p>
        {% endfor %}
        #}
        <!-- Begin page content -->

        <div class="container"> {% block content %}
            <div class="page-header">

                <h1>Добро пожаловать на сайт!</h1>
            </div>
            <p class="lead"></p>
            <p>{{ user.name | default('Неизвестные')}}</p>
            {#<p>{{ user.adress }}</p>
            <blockquote>{{ user.birthdate | date('d.m.y')}}</blockquote>
            <p></p>
            #}
            <ul>
            {% for id, user in users %}
                <li style="{% if loop.first %}color:red;{% endif %}">{{ loop.index }}:{{ user.name }} </li>
            {% endfor %}
            </ul>
        {% endblock %}
        </div>

    </div>


    {% endblock %}


    {% block footer %}
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Компания: {{ config.company }}</p>
            <p class="text-muted credit">Телефон: <a href="http://martinbean.co.uk">{{ config.phone }}</a> Адресс: {{ config.adress }}.</p>

        </div>
    </div>

    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
    {% endblock %}

</body>
</html>